#entete {
  border-style : groove;
  margin : auto auto;
  width : 60%;
}

#titrePage {
  text-align : center;
  font-family : monospace, sans-serif;
  font-size : 160%;
}

#plateau {
  border-style : groove;
  margin : auto auto;
  width : 60%;
  margin-top : 1%;
  overflow : auto;
}

#plateau #tableEchec {
  border-style : solid;
  color : black;
  margin : auto auto;
  background-color : white;
  margin-top : 10px;
  margin-bottom : 10px;
}

#tableEchec .whiteCase {
  padding : 30px;
  border-style : solid;
  margin : auto auto;
  background-color : white;
}

#tableEchec .blackCase {
  border-style : solid;
  margin : auto auto;
  background-color : maroon;
}

/*mes tests*/
/*
#Case12 {
  color : blue;
  background-color : white;
}
*/
/*#tableEchec tr :hover {
  color : cyan;
}*/
